:host::ng-deep.material-wavesurfer {
  padding-right: 0;
  padding-left: 0;
  height: 316px;

  .mat-icon {
    color: rgb(18, 81, 126);
  }
  
  .ws {
    height: 100%;
    flex: 1;
    position: relative;

    .mat-progress-bar {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .mat-progress-bar-fill {
        transition: none;
        &::after {
          background-color: rgba(#3af, 0.2);
        }
      }

      .mat-progress-bar-background {
        fill: transparent;
      }

      .mat-progress-bar-buffer {
        background: transparent;
      }
    }
  }

  &.playing {
    .mat-icon {
      color: rgb(18, 81, 126);
    }
  }

}